*

!.gitignore
!.dockerignore
!Dockerfile
!requirements.txt

!development/
!development/**
!production/
!production/**

!data/
!data/processed_data/
!data/processed_data/processed.cleveland.data

**/.DS_Store
**/.idea/
**/.env
**/__pycache__/